.sel {
    border-radius: 12px;
    padding: 12px 16px;
    width: 134px;
    height: 40px;
    border-color: transparent;
    background-color: #f7f7f7;
    outline: transparent;
    margin-right: 2px;
}

.text {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
.selectDescr {
    font-weight: 400;
    font-size: 6px;
    line-height: 1.33333;
    color: #8d929a;
}

.selectedValue {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
@media only screen and (min-width: 768px) {
    .selectDescr {
        font-size: 10px;
    }
    .text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .sel {
        width: 204px;
        height: 44px;
        margin: 0;
    }
    .selectDescr {
        font-size: 12px;
        margin-bottom: 7px;
    }
}
