.heroBack {
    height: calc(100vh - 68px); /*віднімається висота хедеру*/

    background-image: url('/public/images/mobBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 60px;
}
.textBox {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 14px;
}
.title {
    font-weight: 700;
    font-size: 30px;

    line-height: 1.2;
    text-align: center;
    color: #fff;
}
.descr {
    font-weight: 600;
    font-size: 20px;

    line-height: 1.33333;
    text-align: center;
    color: #fff;
}
@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .heroBack {
        background-image: url('/public/images/mobBack2@.jpg');
    }
}
@media only screen and (min-width: 768px) {
    .heroBack {
        background-image: url('../../../public/images/hero_img.jpg');
    }

    .title {
        font-size: 60px;
    }
    .descr {
        font-size: 24px;
    }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .heroBack {
        background-image: url('../../../public/images/hero_img@2x.jpg');
    }
}
