.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.list {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.listItem {
    display: flex;
    gap: 8px;
}
.property {
    font-weight: 500;
    line-height: 1.25;
}

@media only screen and (min-width: 768px) {
    .title {
        margin-bottom: 20px;
    }
    .list {
        gap: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .title {
        font-size: 20px;
    }
    .list {
        font-size: 16px;
    }
}
