.btnSmall {
    width: 156px;
    height: 44px;
    background-color: #3470ff;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btnSmall:hover {
    background-color: #0b44cd;
}
.btnBig {
    width: 276px;
}

.btnLoadMore {
    border: 1px solid #3470ff;
    background-color: transparent;
    color: #101828;
}
.btnLoadMore:hover {
    border-color: #0b44cd;
    background-color: transparent;
}
.btnMob {
    width: 30px;
    height: 30px;
    font-size: 12px;
}
.dtlsBtn {
    width: 30px;
    height: 30px;
}

@media only screen and (min-width: 768px) {
    .btnMob {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
}
@media only screen and (min-width: 1280px) {
    .btnMob {
        width: 156px;
        height: 44px;
        font-size: 16px;
    }
}
