.input {
    border-radius: 12px;

    padding: 12px 20px;
    width: 574px;
    height: 48px;
    background-color: #f7f7f7;
    overflow: hidden;
}

fieldset {
    border-width: 0px;
    border-style: none !important;
    border-image: none !important;

    padding: 0;
}
label {
    line-height: 1 !important;
    padding-left: 5px !important;
    color: #8d929a !important;
}

.errorText {
    font-family: 'Manrope', sans-serif;

    color: rgb(190, 22, 22) !important;
    line-height: 1.4;
    font-size: 11px;
    display: block;
    padding-left: 18px;
    margin: 0;
    font-weight: 400;

    letter-spacing: 0;
}
