.mobWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(247, 245, 245, 0.89);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.navList {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 32px;
}
.mobNavList {
    flex-direction: column;

    gap: 6px;
    .favListItem {
        order: 1;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.link {
    color: #101828;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;

    line-height: 1.25;
}
.link.active {
    color: #0b44cd;
}
