.smallImg {
    border-radius: 14px;
    width: 276px;
    height: 268px;
    object-fit: cover;
    margin-bottom: 16px;
}
.largeImg {
    border-radius: 19px;
    width: 276px;
    height: 268px;
    margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
    .largeImg {
        width: 400px;
        height: 312px;
        margin-bottom: 40px;
    }
}
@media only screen and (min-width: 1280px) {
    .largeImg {
        width: 640px;
        height: 512px;
    }
}
