.listItem {
    display: flex;
    gap: 8px;
    justify-content: start;
}
.title {
    font-weight: 600;
    font-size: 20px;

    line-height: 1.2;
    color: #101828;
    margin-bottom: 20px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.25;
    color: #101828;
}
