.box {
    margin-bottom: 68px;
}
.title {
    font-weight: 600;
    font-size: 24px;

    color: #101828;
}
.id {
    font-weight: 500;
    font-size: 14px;
    color: #8d929a;
    margin-bottom: 8px;
}

.mileage {
    display: inline;
}
.addressList {
    position: relative;
    display: flex;
    font-weight: 500;
    gap: 16px;

    margin-bottom: 16px;
    padding-left: 18px;
}
.price {
    font-weight: 600;
    font-size: 24px;
    color: #3470ff;
    margin-bottom: 32px;
}
.desc {
    font-weight: 500;
    color: #101828;
}
.icon {
    position: absolute;
    left: 0;
}
