.box {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 28px;
}
.title {
    font-weight: 600;
    font-size: 18px;
    color: #101828;
}
.id {
    font-weight: 500;
    font-size: 12px;
    color: #8d929a;
    margin-bottom: 4px;
    cursor: pointer;
}
.mileage {
    font-size: 14px;
}
.addrs {
    font-size: 14px;
}
.addressList {
    position: relative;
    display: flex;
    font-weight: 500;
    gap: 16px;
    margin-bottom: 16px;
    padding-left: 18px;
}
.price {
    font-weight: 600;
    font-size: 16px;
    color: #3470ff;
    margin-bottom: 12px;
}
.desc {
    font-weight: 500;
    font-size: 14px;
    color: #101828;
}
.icon {
    position: absolute;
    left: 0;
}
@media only screen and (min-width: 768px) {
    .box {
        margin-bottom: 38px;
    }
    .title {
        font-size: 20px;
    }
    .id {
        margin-bottom: 8px;
    }
    .desc {
        width: 300px;
    }
    .price {
        font-size: 20px;
        margin-bottom: 32px;
    }
}
@media only screen and (min-width: 1280px) {
    .box {
        margin-bottom: 68px;
    }
    .title {
        font-size: 24px;
    }
    .id {
        font-size: 16px;
    }

    .mileage {
        font-size: 16px;
    }
    .addrs {
        font-size: 16px;
    }
    .price {
        font-size: 24px;
    }
    .desc {
        font-size: 16px;
        width: 480px;
    }
}
