.box {
    margin-bottom: 68px;
}
.title {
    font-weight: 600;
    font-size: 24px;

    line-height: 1.33333;

    color: #101828;
    margin-bottom: 8px;
}
.id {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.25;
    color: #8d929a;
    margin-bottom: 8px;
}
.addressList {
    display: flex;
    font-weight: 500;
    gap: 16px;

    line-height: 1.25;
    color: #101828;
    margin-bottom: 16px;
}
.price {
    font-weight: 600;
    font-size: 24px;

    line-height: 1.33333;
    color: #3470ff;
    margin-bottom: 32px;
}
.desc {
    font-weight: 500;

    line-height: 1.25;
    color: #101828;
}
